@font-face {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fonts/Merriweather-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather-Bold-700'), url('../../assets/fonts/Merriweather-Bold.ttf') format('woff');
}
